{% extends 'blog_templates/base.html' %}
{% load static %}
{% block title %}{{ page_title }} - {{ page_slogan }}{% endblock %}

{% block home_page %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% for i in single_post %}
<header >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h4>{{ i.title }}</h4>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="post-preview">
                {{ i.content | safe }}
                <br/>
                <p class="post-meta">Posted by <a href="#">Author{{ i.category_list_id_category_title }}</a> on {{ i.time }}</p>
            </div>
            <hr>


        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
